body {
    font-family: sans-serif;
}

.logged-in, .select-group, .members, .send-results, .loading-groups {
    display: none;
}

header {
    height: 180px;
    background-color: rgb(255, 102, 0)
}

header img {
    float: left;
}

header h1, header h2 {
    color: white;
}